/* ForgotPassword.module.css */

.BodyContainer {
    background-image: url(../Assets/img1.jpg);
    background-color: #011313; /* Dark teal background color */
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
  }
  
  .card {

    width: 300px;
    background: rgba(83, 82, 82, 0.2); /* Background with opacity for the glass effect */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }
  
  .lock-icon {
    align-content: center;
    align-self: center; /* Align the icon vertically to the center */
    margin: 0;
    font-size: 40px;
    color: #00cccc; /* Dark teal icon color */
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    color: #0f3c4c ;
    margin: 0;
  }
  
  .passInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5); /* Input background with opacity */
  }
  
  .PasswordButton {

    align-items: center;
    background: #00cccc; /* Dark teal button background color */
    color: #0f3c4c; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    margin-left: 25%;
  }
  
  .PasswordButton:hover {
    background: #009999; /* Darker teal button background color on hover */
  }
  